.about-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8px;
  height: 100vh;
  max-height: 100vh;
}

.headshot-image {
  justify-self: center;
  align-self: center;
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.line {
  border-top: 1.25px solid white;
  flex-grow: 1;
  margin: 0 10px;
}

.info-container {
  justify-self: center;
  align-self: center;
  width: 400px;
  max-height: 400px;
}

.info-container p {
  color: white;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
  }
  .headshot-image {
    width: 325px;
    height: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .info-container {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .info-container p {
    font-size: 20px;
  }
}
