.nav-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--tertiary-color);

  padding: 12px;

  justify-content: space-between;
}

.nav-container .contact_button {
  min-width: 4rem;
  padding: 8px;
  margin: 0;

  font-size: 16px;
  color: var(--tertiary-color);
  background-color: var(--other-color2);

  align-self: center;
  text-align: center;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-container ul > li {
  float: right;
}

.nav-container ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a span {
  color: var(--other-color2);
}

li a:hover {
  background-color: #111;
}

.active {
  border-bottom: 2px solid var(--other-color2);
}

.mobile {
  background-color: transparent;
}

.largeScreen {
  display: none;
}

.menuButton {
  font-size: xx-large;
  color: white;

  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .largeScreen {
    display: flex;
  }
}
