.nav-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--tertiary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a span {
  color: var(--other-color2);
}

li a:hover {
  background-color: #111;
}

.active {
  border-bottom: 2px solid var(--other-color2);
}

.mobile {
  background-color: transparent;
}

.largeScreen {
  display: none;
}

.menuButton {
  font-size: xx-large;
  color: white;

  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .largeScreen {
    display: block;
  }
}
